## Words

In [8]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [9]:
for word in words:
    print(word.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [10]:
long_words = [word for word in words if len(word) >= 5]
print(long_words)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [11]:
for word in words:
    if word.startswith("t"):
        print(word)

theatre
that

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [24]:
numper = [1,2,3,4,5,6,7,8,9,10]

**Print a list containing the square of every odd number from 1 to 10**

In [11]:
odd_squares = [num ** 2 for num in numper if num % 2 != 0]

NameError: name 'numper' is not defined

**Create a list with the squares of all multiples of 8 below 1000**

In [23]:
multiples_of_8_squares = [num ** 2 for num in range(8, 1000, 16)]
print(multiples_of_8_squares)

[64, 576, 1600, 3136, 5184, 7744, 10816, 14400, 18496, 23104, 28224, 33856, 40000, 46656, 53824, 61504, 69696, 78400, 87616, 97344, 107584, 118336, 129600, 141376, 153664, 166464, 179776, 193600, 207936, 222784, 238144, 254016, 270400, 287296, 304704, 322624, 341056, 360000, 379456, 399424, 419904, 440896, 462400, 484416, 506944, 529984, 553536, 577600, 602176, 627264, 652864, 678976, 705600, 732736, 760384, 788544, 817216, 846400, 876096, 906304, 937024, 968256]

## People

In [3]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "LucÃ­a",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [4]:
print(len(people))

5

**How many people have kids**?

In [5]:
people_with_kids = [person for person in people if person['n_kids'] > 0]
print(len(people_with_kids))

4

**How many kids do they have in total?**

In [6]:
total_kids = sum(person['n_kids'] for person in people)
print(total_kids)

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [10]:
people_year =[]
for i in people:
    if i ["name"].endswith('a'):
        i["n_kids"]+=1
        people_year.append(i)
        else:
            people_year.append(i)
            print(people_year)

SyntaxError: invalid syntax (3104268477.py, line 1)

In [ ]:
peple_yea